@font-face {
    font-family: "FontGame";
    src: url(../fonts/Pony.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "FontGame";
}
.bgGame {
    background-image: url(../../../public/imgGame/bgGame.png);
    position: fixed;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .gameCol button{
        width: 100px !important;
        height: 100px !important;
    }
    .diceImg{
        width: 40px !important;
        height: 40px !important;
    }
}